nav {
  background-color: rgb(101, 96, 96);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  min-height: 70px;
  padding: 10px;
}

.search-btn {
  text-decoration: none;
  border-radius: 100px;
  border: solid black 1px;
  box-shadow: 10px, 10px, 20px, rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.search-btn .spy {
  position: absolute;
  color: grey;
  height: 22px;
  width: 22px;
  margin: 10px;
  margin-right: 10px;
  opacity: 0.3;
  overflow: hidden;
}

input {
  font: inherit;
  height: 100%;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  box-shadow: 1px, 1px;
  min-width: 100px;
}

.paginate-container {
  display: flex;
  justify-content: center;
  font: inherit;
  font-size: 1.5rem;
  border-radius: 4px;
  box-shadow: 1px, 1px;
}
